.conversion-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversion-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 55%;
    margin: 10px 30px 10px 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
}

.conversion-content h2 {
    font-size: 35px;
    font-weight: lighter;
    color: #494949;
    margin-top: 10px;
}

.response-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin: 15px 0 5px 0;
    padding: 15px 28px 15px 28px;
    text-align: center;
    font-size: 25px;
    font-weight: 350;
    color: #624E88;
}

.animate-main-label {
    animation: zoom-in-zoom-out 0.3s ease;
}

.response-label p {
    margin: 0;
    font-weight: bold;
    background: linear-gradient(to right, #764BA2, #667EEA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 15px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group button {
    align-items: center;
    padding: 0 10px 0 10px;
}

.locations-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px 30px 15px;
}

.location-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.locations-container p {
    display: flex;
    gap: 15px;
    font-size: 20px;
    font-weight: 350;
    padding: 12px 20px 12px 20px;
    margin: 7px 40px 7px 40px;
    color: #624E88;
    background: linear-gradient(to bottom,#fad2d2, #f8c5d5, #fdc2e3);
    border-radius: 15px;
}

.animation-frame {
    overflow: hidden;
    white-space: nowrap;
}

.locations-container p span {
    font-weight: 600;
    background: linear-gradient(to right, #764BA2, #667EEA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.animate-locations {
    animation: slidein 1.5s ease;
}

.hide {
    display: hidden;
}

@keyframes zoom-in-zoom-out {
    0% {
      scale: 100%;
    }
    50% {
      scale: 120%;
    }
    100% {
      scale: 100%;
    }
  }

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

@keyframes slidein {
    0% { margin-left:-80px; }
    5% { margin-left:-80px; }
    40% { margin-left:0px; }
    100% { margin-left:0px; }
}

@media (max-width: 767px) {
  .locations-container p {
    padding: 8px 20px 8px 20px;
    margin: 7px 30px 7px 30px;
  }
  .conversion-content {
    width: 90%;
    margin: 10px 0 10px 0;
  }
  .response-label {
    margin-top: 20px;
     padding: 15px 10px 15px 10px;
    font-size: 14px;
  }
  .response-label p {
    font-size: 16px;
  }
  .locations-container {
    margin-top: 10px;
  }
  .conversion-content h2 {
    font-size: 20px;
  }
  .locations-container p {
    font-size: 14px;
  }
  .locations-container p span {
    font-size: 16px;
  }
}