.label-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
}

.label-locations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-label {
    font-size: 20px;
    font-weight: lighter;
    color: #494949;
}

.country-time {
    font-size: 50px;
    font-weight: 450;
}

@media (max-width: 767px) {
    .label-content {
        width: 80%;
    }
    .country-label {
        font-size: 17px;
    }
    .country-time {
        font-size: 28px;
    }
  }